<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

Safaa Al-Ali, Ph.D.

About me

I am post-doctoral researcher at Centre Inria d'Université Côte d'Azur, Epione Team. Hello! I am a dedicated postdoctoral researcher specializing in biomedical data analysis. My current focus revolves around conducting causal analysis for multimodal data, incorporating insights from biomarkers, signals, and images. My journey in academia led me to complete a Ph.D. in the intricate realm of mathematical modeling of biological conditions. Passionate about the intersection of mathematics and science, I proudly identify as a "mathematician" blending the precision of mathematics with the curiosity-driven exploration of biological systems. My professional endeavors aim to unravel the complexities within biomedical data, contributing to advancements in our understanding of health and disease.

I am enthusiastic about leveraging my skills to make meaningful contributions to the ever-evolving field of biomedical research.

Research projects:
SimCardioTest: Causal data analysis of in-silico trials Under the supervision of: \href{https://ibalelli.github.io/ }{Irene Balelli} and \href{https://team.inria.fr/epione/en/team/maxime-sermesant/}{Maxime Sermesant}.
Mathematical modeling of inflammatory bowel diseases. Under the supervision of Hatem Zaag and Sébastien, collaboration with Bichat and Beaujon hospitals.
Image compression using fuzzy theory and partial differential equations. Under the supervision of Ahmad Shahin

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
